*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}


.cabecalho {
    background-color: #05660d;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.cabecalho-imagem{
   width: 5%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 20px;
}

.escola-imagem{
   width: 25%;
}

.escola{
    background-image: linear-gradient(#086810,#24c931);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}

.estudante-imagem{
    width: 120px!important;
    height: 120px!important;
}
.estudante-icone{
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
     background-color: #24c931;
}