*{
    margin: 0;
    padding: 0;
}



.cabecalho {
    background-color: #178328;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.cabecalho-imagem{
   width: 5%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 20px;
}